apiVersion: apps/v1
kind: Deployment
metadata:
  name: flight-price-predictor
spec:
  replicas: 2   # start with 2 pods
  selector:
    matchLabels:
      app: flight-price-predictor
  template:
    metadata:
      labels:
        app: flight-price-predictor
    spec:
      containers:
      - name: flight-price-api
        image: <YOUR_DOCKER_USERNAME>/flight-price-predictor:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        resources:
          requests:
            cpu: "250m"
            memory: "512Mi"
          limits:
            cpu: "500m"
            memory: "1Gi"
        readinessProbe:
          httpGet:
            path: /
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 10
